.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    .main_content 
      %table
        %tr
          %th 入荷日
          %th 落札した商品名
          %th 出品名
          %th 出品価格
          %th 仕入先
          %th 落札価格
          %th 負担した送料
          %th 合計仕入れ金額
          %tr 
            %td
              = @product.arrival
            %td 
              = @product.successful_bid
            %td 
              = @product.product_name
            %td 
              = @product.product_price
            %td 
              = @product.stock
            %td 
              = @product.unit_price
            %td 
              = @product.shipping_fee
            %td 
              = @product.total_price
      .all_btn
        .sold
          %button.return_btn 
            =link_to "戻る", registration_product_manegements_path, class:"btn"
        .sold
          %button.sold_btn
            =link_to "売れた", sold_product_manegements_path(@product.id), class:"btn"

        .edit
          %button.edit_btn 
            =link_to "編集", edit_product_manegement_path, class:"btn"
          
        .delete
          %button.delete_btn 
            = link_to "削除",product_manegement_path(@product.id), method: :delete, class:"btn"
      .comment
        =text_area "#", class: "comment",placeholder: "メモ", style: "border: none"
