.wrapper
  .background_image_3
    .main_header
      = link_to "Product managementS", root_path, class: 'top_page_link'

    .login_view
    .login_view__upper
      ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :Eメールアドレス, class:"email"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"email_form"
      .field
        = f.label :パスワード, class:"password"
        %br/
        = f.password_field :password, autocomplete: "current-password", class:"new-password_form"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "ログイン", class:"submit"
      .links
        = render "devise/shared/links",class:"link"
