.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    .main_content 
      %table
        %tr
          %th 売れた日
          %th 管理番号
          %th 出品名
          %th 売上媒体
          %th 売り上げ金額
          %th 負担する送料
          %th 仕入れ価格
          %th 利益
          %th 売れるまでの日数
        - @product.zip(@sale,@marketp).each do |product,sale,marketp|
          %tr
            %td
              = sale.sold_day
            %td 
              = product.id
            %td
              =link_to product.product_name + "[#{product.id.to_s}]", edit_sale_path(product.id)
            %td
              -# = sale.market
              = marketp.place      #売れた場所を表示する
            %td
              = sale.proceeds
            %td 
              = sale.shipping_feed
            %td 
              = product.total_price
            %td 
              = sale.profit
            %td 
              = sale.sold_period