.wrapper
  .background_image
    .main_header
      = link_to "Product manegementS",root_path, class: 'top_page_link'
    .main_content 
      %table
        %tr
          %th 売れた日
          %th 管理番号
          %th 出品名
          %th 売上媒体
          %th 売り上げ金額
          %th 負担する送料
          %th 仕入れ価格
          %th 利益
          %th 売れるまでの日数
        - @product.zip(@sale).each do |product,sale|
          %tr
            %td
              = sale.sold_day
            %td 
              = product.id
            %td
              =link_to product.product_name, new_sales_path(product.id)
            %td
              = sale.market
              -# =f.select :market,Market.all.collect { |p| [ p.place, p.id ] }, prompt: "---", style: "border: none"
            %td
              = sale.proceeds
              -# =f.text_field :proceeds, class: "proceeds_from",placeholder: "",maxlength: "8", size:"18", style: "border: none"
            %td 
              = sale.shipping_feed
            %td 
              = product.total_price
            %td 
              = sale.profit
            %td 
              = sale.sold_period
        -# - @product.each do |product|
        -# - @sale.each do |sale|




            -# -# =link_to product_manegement_path(product.id), class:"link"
            -# %td
            -#   -# = product.arrival
            -# %td 
            -#   -# = product.successful_bid
            -# %td 
            -#   =link_to product.product_name, new_sales_path(product.id), class:"link_name"
            -# %td 
            -#   -# = product.product_price
            -# %td 
            -#   -# = product.stock
            -# %td 
            -#   -# = product.unit_price
            -# %td 
            -#   -# = product.shipping_fee
            -# %td 
            -#   = product.total_price
            -# %td 
            -#   -# =f.text_field :sold_period, class: "total_period_from",placeholder: "",maxlength: "", size:"15", style: "border: none"
